/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.main_page{
  display: block;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../src/back-image.jpg');
}
.inner_page{
  position: relative;
  margin: auto;
    width: 60%;
    background-color: #3c2111d1;
    text-align: center;
    border-radius: 20px;
  /* opacity: 0.9; */
}
.month-amount-wrap{
  margin: 10% 0%;
  width: 60%;
  display: inline-flex;
}
.month{
  border-radius: 6px;
  margin: 0 22px;
  display: inline-block;
  width: 50%;
  border: 1px solid black;
  background-color: white;
}
.amount{
  border-radius: 6px;
  margin: 0 22px;
  display: inline-block;
  width: 50%;
  border: 1px solid black;
  background-color: white;
}
.month-amount-wrap p{
  color: black;
}
.content input{
  width: 70%;
  height: 37px;
  margin: 16px 0;
  border-radius: 6px;
  padding-left: 27px;
}
.buttons{
  margin: 55px 0;
}
.buttons button{
  width: 25%;
  height: 38px;
  margin: 11px 0;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(49 48 44);
  color: aliceblue;
}

.record-data{
  width: 60%;
  margin: auto;
  background-color: #3c2111d1;
  text-align: center;
}

@media screen and (max-width: 768px) and (min-width: 350px) {
  .inner_page{
    height: 703px;
    width: 70%;
    margin-left: -32px;
    margin-top: 159px;
  }
  .main_page{
    height: 1023px;
    width: 100%;
  }
  }